.title {
    background-color: rgb(239, 227, 150);
    color: rgb(21, 88, 166);
    margin: 50px  25px;
    padding: 20px ;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-align: center;
    
}
.recipes_list {
    background-color: rgb(239, 227, 150);
    color: rgb(21, 88, 166);
    margin: 50px  25px;
    padding: 50px ;
    box-sizing: content-box; 
    border: 50px;   
    
}

.recipes_list .recipe {
    background-color: rgb(239, 227, 150) ;
    padding: 10px auto;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}